

.chatcont{
    display: flex;
    padding: 10px 20px;
    gap: 8px;
    border-radius: 16px;
    align-items: center;
    
}

.chatcont:hover{
    background-color: #cbd5e0;
    color: black;
    cursor: default;
}


.email{
    min-width: 300px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    
}